

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1200px){
	.profile {
		width: 100%;
		justify-content: flex-end;
		padding-top: 10px;
	}
	.cat_mnu {
		padding: 10px 0;
	}
	.home_categ_item {
		width: 32%;
		padding-left: 168px;
	}
	.stories_item {
		width: 260px;
		padding: 20px 10px 20px 10px;
		margin: 0 auto;
	}
	.center .slick-arrow {
		width: 80px;
	}
	.cont_adr {
		width: 100%;
	}
	.cont_tel {
		width: 100%;
		margin-bottom: 20px;
	}

	.step1 {
		justify-content: space-around;
	}
	.step2 {
		justify-content: space-around;
	}
	.step_name {
		width: 560px;
	}
	.step3 .radio-step3 {
		width: 100%;
	}
	.step3 .radio {
		width: 48%;
		margin-bottom: 20px;
	}
	.step3 {
		padding-bottom: 30px;
	}
	.step4_cont > .bouble:last-child > label{
		width: 100%;
	}
	.bouble .omg {
		width: 100%;
	}
	.bouble .omg label{
		width: 48%;
	}
	.check_cont {
		padding-bottom: 0px;
	}
	.tasks-list-desc {
		font-weight: 500;
		font-size: 17px;
		line-height: 24px;
		position: static;
		float: right;
		padding-right: 30px;
		width: calc(100% - 50px);
	}
	.tasks-list-item {
		width: 100%;
		padding-bottom: 10px;
	}
	.step6_radio .step6_text {
		width: 360px;
	}
	.step6_form textarea {
		width: 280px;
	}
	.step6_form input {
		width: 280px;
	}
	.team_serv_cont .tasks-list-desc {
		float: none;
		padding-right: 0;
	}
	.team_serv_cont .tasks-list-item {
		padding-bottom: 0;
	}
	.select_cont label{
		margin-right: 20px;
	}
	.order_table td:nth-child(8) a, 
	.order_table th:nth-child(8) a {
		margin-right: 12px;
	}
	.order_table td:nth-child(6), 
	.order_table th:nth-child(6) {
		width: 15%;
	}
	.order_table td:nth-child(4), 
	.order_table th:nth-child(4) {
		width: 9%;
	}
	.order_table td:nth-child(3), 
	.order_table th:nth-child(3) {
		width: 12%;
	}
}

@media only screen and (max-width : 992px){
	.dataTables_filter label{
		padding-bottom: 30px;
		width: 100%;
	}
	.dataTables_filter input[type=search] {
		width: 100%;
	}
	.home_categ_item {
		width: 49%;
		padding-left: 194px;
	}
	.customer {
		padding-top: 40px;
	}
	.customer h2 {
		margin-bottom: 70px;
	}
	.stories_item {
		width: 94%;
	}
	.doub_list {
		margin-bottom: 30px;
	}
	.cat_search input[type=search] {
		width: 350px;
	}


	.privacy_l {
		width: 300px;
	}
	ul.f_elem {
		position: fixed;
		top: 100px;
		width: 300px;
		padding-right: 40px;
	}
	.privacy_r {
		width: calc(100% - 300px);
	}
	.privacy_cont .privacy_item {
		margin-bottom: 50px;
	}


	.cont_form label {
		width: 100%;
		margin-bottom: 20px;
	}
	.cont_form label:nth-last-child(2) {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 0;
	}
	.cont_form textarea {
		height: 100px;
	}
	.questions_cont {
		padding: 0 20px;
	}
	.questions {
		padding-top: 40px;
		padding-bottom: 40px;
	}


	.quotes_bn_2 h2 {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.quotes_bn_2 {
		height: 336px;
	}
	.quotes_bn {
		height: 336px;
	}
	.information {
		padding-top: 40px;
	}
	.info_form {
		width: 100%;
		padding-bottom: 40px;
	}
	.quotes_bn:before {
		content: '';
		width: 100%;
		height: 336px;
	}


	.happens_item li {
		font-size: 17px;
		line-height: 28px;
		margin-bottom: 12px;
	}


	// .step_name {
	// 	width: 500px;
	// }
	#progressbar {
		position: relative;
		padding-bottom: 30px;
		padding-top: 30px;
		height: auto;
		right: auto;
		top: 0px;
		&:before {
			content: '';
			position: absolute;
			left: -33.3%;
			width: 9000px;
			height: 1px;
			background-color: #e7e7e7;
			top: 0;
		}
	}
	.step_name {
		width: 100%;
	}
	.step_name h2 {
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 12px;
	}
	.previous {
		right: 15px;
		transform: none;
		top: -70px;
	}
	.step_tov {
		width: 240px;
	}
	.model_wrapp {
		width: 100%;
	}
	.model_desc {
		width: 100%;
	}
	.condition {
		margin-top: 15px;
		padding: 15px 0;
	}
	.condition a {
		display: block;
		float: none;
	}
	.price_desc {
		width: 100%;
	}
	.price {
		text-align: left;
		width: 100%;
	}
	.tov_price {
		padding: 15px 0;
		padding-right: 0;
	}
	.step_cont {
		width: calc(100% - 240px);
	}
	.step4 .radio-step4 p {
		font-size: 14px;
		line-height: 22px;
	}
	.step5 .radio {
		width: 100%;
		margin-bottom: 20px;
	}
	.step5 {
		padding-bottom: 20px;
	}
	.step6_radio .step6_img img {
		transform: none;
		position: static;
	}
	.step6_radio .step6_text {
		width: 100%;
	}
	.step6_radio .step6_img {
		margin-bottom: 12px;
	}
	.radio input[type=radio]+.radio-step6:before {
		top: 10px;
		transform: none;
	}
	.step6_form input {
		width: 100%;
	}
	.step6_form textarea {
		width: 100%;
	}
	.step6_form p {
		margin-bottom: 10px;
	}

	.select_cont label {
		width: 30%;
		margin-right: 0;
	}
	.select_cont .next {
		margin-top: 15px;
	}
	$breakpoint-alpha: 992px;

	.rwd-table {
		min-width: 290px;

		margin-left: -5px;
		tbody {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
		}
		tr {
			display: flex;
			width: calc(33.3% - 10px);
			margin-left: 10px;
			flex-direction: column;
			margin-bottom: 10px;
		}
		td:first-child {
			text-align: left;
		}
		tr:first-child {
			display: none;
		}
		th {
			display: none !important; 
		}
		p {

		}
		td:nth-child(7) img{
			display: block;
			max-width: none;
			width: auto;
			height: 100%;
		}
		td:nth-child(6) img{
			float: none;
			display: inline;
			margin-bottom: 6px;
		}
		td:nth-child(8) {
			display: flex;
			align-items: center;
		}
		td {
			&:first-child {
				min-height: 50px;
			}
			float: none;
			min-height: 100px;
    	// display: flex !important;
    	flex-flow: row wrap;
    	padding: 10px;
    	width: 100% !important;
    	border-bottom: 2px solid #fbfbfb;
    	span {
    		width: 100%;
    	}
    	&:last-child {
    		border: none;
    	}
    	&:before {
    		content: attr(data-th)": "; 
			// font-weight: bold;
			display: block;
			margin-bottom: 6px;
			font-family: $mm;
			font-weight: bold;
			padding-left: 0px;
			padding-right: 8px;
			color: #000;
			width: 100%;
			@media (min-width: $breakpoint-alpha) {
				display: none;
			}
		}
	}
}

.profile_bottom_text {
	width: 100%;
	padding: 0 40px;
}
.profile_colon {
	width: 100%;
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0;
	}
}
}

@media only screen and (max-width : 768px){
	.toggle-mnu {
		display: block;
	}
	nav .mnu {
		display: none;
		position: absolute;
		background-color: #fbfbfb;
		left: 0;
		top: 52px;
		width: 260px;
		padding: 0 10px;
		z-index: 9;
	}
	// .top_mnu .fb-like {
	// 	margin-right: 20px;
	// }
	.cat_rside {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		justify-content: space-between;
	}

	.cat_search input[type=search] {
		width: 300px;
		padding: 0 66px 0 24px;
	}
	.logo {
		margin: 20px auto 0;		
	}
	.home_categ_item {
		padding-left: 84px;
		display: block;
	}
	.works {
		padding-top: 14px;
		padding-bottom: 30px;
	}
	.works_item {
		width: 100%;
		margin-bottom: 20px;
	}
	.works_item:after {
		display: none;
	}
	.center .slick-dots {
		bottom: -50px;
	}
	.questions_cont {
		padding: 0 20px;
	}
	.questions_cont h3 {
		font-size: 22px;
		line-height: 28px;
	}
	.cont_us {
		width: 180px;
		text-align: center;
		padding: 0;
	}
	.questions {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.f_top {
		padding-top: 18px;
		padding-bottom: 0px;
	}
	.f_nav h5 {
		margin-bottom: 10px;
	}
	.f_nav li {
		margin-bottom: 10px;
	}
	.doub_list {
		margin-bottom: 0;
	}
	.f_nav {
		margin-bottom: 30px;
	}
	footer:before {
		display: none;
	}
	footer:after {
		display: none;
	}


	.privacy_l {
		display: none;
	}
	.privacy_r {
		width: 100%;
	}
	.privacy {
		padding-top: 0;
		padding-bottom: 0;
	}
	.ab_l {
		width: 100%;
		height: 200px;
	}
	.ab_r {
		width: 100%;
		height: 200px;
		position: absolute;
		top: 0;
		z-index: 2;
	}
	.about_bn {
		height: 200px;
	}
	.ab_l img {
		max-height: 200px;
	}


	.r_side {
		display: none;
	}
	.l_side {
		width: 100%;
	}
	.cont_info {
		padding-right: 0;
	}


	.faqs .item {
		width: 100%;
	}


	.quotes_bn_2 h2 {
		width: 100%;
		font-size: 28px;
		margin-bottom: 0;
	}
	.quotes_bn_2 p {
		width: 100%;
		font-size: 22px;
	}
	.st1_radio .radio {
		width: 50%;
	}
	.label_cont label {
		width: 100%;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.st3_radio .radio {
		width: 100%;
	}
	.st4 label:first-child {
		float: none;
		margin-bottom: 30px;
	}
	.st4 input[type=file] {
		width: 100%;
		height: 200px;
		margin-right: 0px;
	}
	.visible_picture {
		width: 100%;
		height: 200px;
	}
	.visible_picture img {
		margin: 30px auto 0;
	}
	.select {
		width: 100%;
	}
	.st4 textarea {
		width: 100%;
	}
	.st5 input {
		width: 100%;
	}


	.thn_text p {
		width: 100%;
	}
	.happens_item {
		width: 100%;
		margin-bottom: 35px;
	}
	.happens {
		padding-bottom: 0px;
	}
	.hap_inf_cont h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}


	.step_cont {
		width: 100%;
	}
	.step3_cont li {
		width: 48%;
	}
	.tov_cont {
		margin-top: 0;
	}
	.step_tov {
		width: 100%;
		border-left: none;
		padding-left: 0;
	}
	.step3 {
		padding-right: 0;
	}
	.step4 {
		padding-right: 0px;
	}
	.step4_cont {
		padding-right: 0px;
	}
	.step6_radio {
		position: relative;
		padding-top: 30px;
		padding-right: 0px;
	}
	.step6_form {
		margin-right: 0px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.step6_radio .radio:last-child {
		margin-bottom: 30px;
	}
	.team_serv {
		margin-right: 0px;
	}
	.cat_rside>ul>li>ul {
		left: 0;
		transform: none;
	}
	.select_cont label {
		width: 100%;
		margin-bottom: 20px;
	}
	.select_cont .next {
		margin-top: 0;
	}
	.order_info {
		width: 96%;
	}
	.dataTables_info {
		float: none;
		margin: 14px 0;
	}
	.dataTables_paginate {
			float: none;
		margin: 0px 0 20px;
	}
}
@media only screen and (max-width : 600px){
	.rwd-table tr {
		width: calc(50% - 10px);
	}
	.step4_cont p {
		width: 100%;
	}
	.order_info {
		.step4 .radio {
			width: 100%;
			margin-bottom: 20px;
		}
		.step4 .radio-step4 .step4_img {
			height: 70px;
		}
		.radio input[type=radio]+.radio-step4:before {
			top: 84px;
		}
	}
	.step4 .radio-step4 p {
		min-height: 76px;
	}
	.profile_men {
		width: 100%;
		min-width: auto;
		margin-bottom: 20px;
	}
	
}
@media only screen and (max-width : 480px){
	.search_name {
		width: 100%;
		margin-bottom: 20px;
	}
	.search_results .cat_search {
		width: 100%;
	}
	.name_elem_order {
		width: 100%;
		margin-bottom: 10px;
	}
	.rwd-table {
		margin: 0;
	}
	.rwd-table tr {
		width: 100%;
		margin-left: 0;
	}
	.rwd-table td {
		min-height: auto;
	}

	.fb_iframe_widget {
		text-align: right;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.toggle-mnu {
		top: 26px;
	}
	.cat_search {
		width: 100%;
	}
	.cat_search input[type=search] {
		width: 100%;
	}
	
	.cat_rside ul:focus ul, .cat_rside ul:hover ul {
		width: 290px;
	}
	.cat_rside>ul>li>ul li {
		padding: 0px;
	}
	.bn_cont {
		height: 180px;
	}
	.home_categ_item {
		width: 100%;
		display: flex;
		padding-left: 150px;
	}
	.works {
		padding-bottom: 10px;
	}
	.customer h2 {
		font-size: 36px;
		line-height: 1;
	}
	.customer h2:before {
		top: 58px;
	}
	.stories_item {
		height: 340px;
	}
	.stories_item p {
		height: 130px;
	}
	.stories_item:after {
		width: 100%;
		top: 80px;
	}
	.customer .stories_cont {
		height: 350px;
	}
	.questions_cont {
		flex-flow: row wrap;
		height: auto;
		padding: 20px;
	}
	.questions_cont h3 {
		width: 100%;
		margin-bottom: 20px;
	}
	.f_info {
		width: 100%;
		margin-bottom: 20px;
	}
	.f_top {
		flex-flow: row wrap;
	}
	.f_nav {
		margin-left: 0;
		width: 50%;
	}
	.doub_list {
		width: 100%;
	}
	.f_bot {
		padding: 18px 0;
	}
	.copy {
		width: 100%;
		margin-bottom: 20px;
	}
	.social a {
		margin-right: 20px;
		margin-left: 0;
	}


	.privacy h3 {
		font-size: 20px;
		line-height: 28px;
	}


	.quotes_bn_2 p {
		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
	}
	.quotes_bn_2 {
		height: 240px;
	}
	.quotes_bn {
		height: 240px;
	}
	.inform_cont h3 {
		font-size: 20px;
		line-height: 26px;
	}
	.st1_radio .radio {
		width: 100%;
	}
	.terms_cont p {
		font-size: 14px;
		line-height: 22px;
	}


	.hap_inf_cont:before {
		left: 10px;
	}
	.hap_inf_cont {
		padding: 25px 25px 25px 60px;
		margin-bottom: 0;
	}
	.hap_inf_cont h2 {
		font-size: 16px;
	}


	#progressbar {
		padding-bottom: 80px;
	}
	.previous {
		right: auto;
		left: 15px;
		top: -64px;
	}
	.step4_cont p {
		width: 100%;
	}
	.step4 .radio {
		width: 100%;
		margin-bottom: 30px;
	}
	.step4 .radio-step4 p {
		min-height: 70px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.radio input[type=radio]+.radio-step4:before {
		top: 140px;
	}
	.step4 {
		padding-bottom: 20px;
	}
	.step3 .radio {
		width: 100%;
	}
	.step3_cont li {
		width: 100%;
	}
	.bouble label {
		width: 100%;
	}
	.bouble .omg label {
		width: 100%;
	}
	.tasks-list-desc {
		font-size: 16px;
		line-height: 20px;
	}
}

@media only screen and (max-width : 320px){

}


/*==========  Mobile First  ==========*/


@media only screen and (min-width : 320px){

}

@media only screen and (min-width : 480px){

}

@media only screen and (min-width : 769px){
	nav > .mnu {
		display: flex !important; 
    // display: block !important;
  }
}

@media only screen and (min-width : 992px){

}

@media only screen and (min-width : 1200px){

}


