@import "_default.scss";

$mm:"Maison", sans-serif;
$gl:"Gilroy", sans-serif;

// $cor: #2b1f17;
// $fff: #fff;
// $dark: #000;
// $grey: #94908e;

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	// font-family: "roboto", sans-serif;
	overflow-x: hidden;
}
.top_mnu_wrapp {
	background-color: #fbfbfb;
}
.top_mnu {
	position: relative;
	min-height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: row wrap;
	ul {
		display: flex;
		justify-content: flex-end;
		flex-flow: row wrap;

		list-style: none;

	}
	li {
		margin-right: 20px;
	}
	// .fb-like {
	// 	margin-right: 20px;
	// }
	a {
		text-decoration: none;
		opacity: 0.5;
		color: #353535;
		font-family: $mm;
		font-weight: bold;
		font-size: 13px;
		line-height: 34px;
		transition: all .5s;
		&:hover {
			opacity: 1;
		}
	}
}

a.sign {
	display: block;
	text-transform: uppercase;
	opacity: 1;
	font-family: $gl;
	margin-left: 20px;
	&:nth-child(3) {
		margin-right: 20px;
		position: relative;
		&:before {
			content: '/';
			position: absolute;
			right: -12px;
			top: 1px;
		}
	}
}
.cat_mnu_wrapp {
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
	background-image: linear-gradient(270deg, #25282c 0%, #434850 100%);
}
.cat_mnu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	min-height: 74px;
}
.logo {
	display: inline-flex;
}
.cat_rside {
	display: flex;
	flex-flow: row wrap;
	ul {
		list-style: none;
		// &:hover ul,
		// &:focus ul{
		// 	display: block;
		// }
	}
	a {
		text-decoration: none;
		display: block;
		color: #fff;
	}
	a.active {
		color: #ec7234;
		&:after{
			border-bottom: 6px solid #ec7234;
			border-top: 6px solid transparent;
			top: -5px;
		}
	}
	> ul {
		margin-right: 22px;
		// padding-right: 22px;
		position: relative;
		color: #fff;
		font-family: $gl;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 13px;
		text-transform: uppercase;
		// &:hover {
		// 	> li > a {
		// 		color: #ec7234;
		// 		&:after{
		// 			border-bottom: 6px solid #ec7234;
		// 			border-top: 6px solid transparent;
		// 			top: -5px;
		// 		}
		// 	}
		// }
		> li {
			position: relative;
			
			> a {
				padding: 18px 0;
				&:after{
					display: inline-block;
					margin-left: 18px;
					position: relative;
					top: -2px;
					content: "";
					vertical-align: middle;
					border-top: 6px solid #fff;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
				}
			}
			> ul {
				// visibility: hidden;
				display: none;
				height: auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				opacity: 1;
				background-color: #fff;
				max-height: 472px;
				overflow: auto;
				width: 330px;
				box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
				border-radius: 3px;
					// transition: .4s ease .25s;
					z-index: 9;
					li {
						padding: 8px 10px;
						border-bottom: 1px solid rgba(#979797, .2);
					}
					a {
						color: #353535;
						font-family: $mm;
						font-size: 14px;
						line-height: 34px;
						display: block;
					// transition: all .5s;
					padding: 4px 14px;
					letter-spacing: 0;
					&:hover {
						background-color: #f3f3f3;
						color: #ec7234;
					}
				}
			}
		}
	}
}
.cat_search {
	position: relative;
	input[type='search'] {
		appearance: none;
		outline: none;
		border-radius: 3px;
		background-color: #ffffff;
		color: #9b9b9b;
		font-family: $mm;
		font-size: 14px;
		line-height: 49px;
		border: none;
		width: 500px;
		height: 49px;
		padding: 0 92px 0 24px;
	}
	input[type='submit'] {
		background-image: url(../img/search.svg);
		width: 17px;
		height: 17px;
		top: 17px;
		right: 19px;
		position: absolute;
		background-color: transparent;
		border: none;
		font-size: 0;
		outline: none;
		cursor: pointer;	
	}
}
input::-ms-clear {
	display: none;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

.bn_cont {
	height: 266px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background:linear-gradient(-80deg, #fad961 0%, #f76b1c 100%) ;
	h2 {
		color: #353535;
		font-family: $gl;
		font-size: 60px;
		line-height: 74px;
		font-weight: bold;
		position: relative;
		z-index: 2;
	}
}
.bn_tov {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		right: -100px;
		top: -268px;
		width: 503px;
		height: 503px;
		opacity: 0.3;
		background-image:  url(../img/bn_img.svg);
		background-size: cover;
	}
	img {
		position: absolute;
		right: 140px;
		bottom: -68px;
		max-width: 344px;
		max-height: 232px;
	}
}
.home_categ {
	background-color: #fbfbfb;
	border-bottom: 1px solid #e0e0e0;
}
.home_categ_cont {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 40px 0 30px;
}
.home_categ_item {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 366px;
	height: 192px;
	border-radius: 3px;
	background-color: #ffffff;
	text-decoration: none;
	margin-bottom: 10px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	transition: all .5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 198px;
	&:hover {
		position: relative;
		z-index: 99;
		box-shadow: 0 12px 28px rgba(155, 169, 188, 0.4);
	}
	p {
		opacity: 0.5;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		line-height: 14px;
	}
	h3 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
		padding-right: 25px;
	}
}
.works {
	padding-top: 56px;
	padding-bottom: 60px;
	h2 {
		position: relative;
		color: #353535;
		font-family: $gl;
		font-size: 48px;
		line-height: 62px;
		font-weight: bold;
		margin-bottom: 60px;
		&:before {
			content: '';
			position: absolute;
			top: 80px;
			width: 41px;
			height: 3px;
			border-radius: 100px;
			background-image: linear-gradient(to right, #f7ab64 0%, #ec7234 100%);
		}
	}
}
.works_cont {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	counter-reset: h3;
	// border-bottom: 1px solid #e0e0e0;
}
.works_item {
	width: 33.3%;
	position: relative;
	&:nth-child(3) {
		&:after {
			display: none;
		}
	}
	&:before {
		counter-increment: h3;
		content: "0" counter(h3)  ".";
		position: absolute;
		opacity: 0.2;
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		font-weight: 700;
		top: 0;
		left: 0;
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
	}
	&:after {
		content: '';
		position: absolute;
		right: 15px;
		top: 50px;
		background: url(../img/work_line.svg) no-repeat;
		height: 8px;
		width: 100%;
		background-position: center right;
	}
	h3 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		text-transform: uppercase;
		margin-top: 40px;
		font-weight: bold;
		display: inline-block;
		position: relative;
		padding-right: 20px;
		overflow: hidden;
		z-index: 2;
		background-color: #fff;
	}
	p {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 34px;
		font-weight: bold;
	}
}

.customer {
	background-color: #fbfbfb;
	padding-top: 90px;
	padding-bottom: 120px;
	h2 {
		color: #353535;
		font-family: $gl;
		font-size: 48px;
		line-height: 62px;
		margin-bottom: 100px;
		font-weight: bold;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 80px;
			width: 41px;
			height: 3px;
			border-radius: 100px;
			background-image: linear-gradient(to right, #f7ab64 0%, #ec7234 100%);
		}
	}
	.stories_cont {
		// opacity: .5;
		outline: none;
		margin: 0 auto;
		cursor: pointer;
		height: 434px;
	}
	.slick-active {
		// opacity: 1;
	}

}

.stories_item {
	width: 340px;
	height: 430px;
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
	border-radius: 3px;
	background-color: #ffffff;
	padding: 45px 30px 30px 30px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 70px;
		width: 340px;
		height: 1px;
		background-color: #ecf2f8;
		z-index: 2;
	}
	p {
		color: #353535;
		font-family: $mm;
		height: 180px;
		overflow: hidden;
		font-size: 17px;
		line-height: 30px;
	}
}
.titr {
	width: 48px;
	height: 48px;
	position: relative;
	background-image: linear-gradient(to right, #f7ab64 0%, #ec7234 100%);
	border-radius: 50%;
	overflow: hidden;
	z-index: 99;
	margin-bottom: 25px;
	&:before {
		content: "\f10e";
		position: absolute;
		font: normal normal normal 16px/1 FontAwesome;
		left: 50%;
		color: #fff;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.autor {
	margin-top: 40px;
	bottom: 30px;
	.autor_img {
		float: left;
		border-radius: 50%;
		margin-right: 12px;
		img {
			width: auto;
			height: auto;
		}
	}
	h3 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
	}
	h6 {
		color: #353535;
		font-family: $mm;
		font-size: 13px;
	}
}

.center {
	position: relative;
	.slick-dots {
		text-align: center;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		bottom: -70px;
		height: 25px;
		li {
			width: 25px;
			margin: 0 5px;
			&:before {
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				border: 1px solid transparent;
				border-radius: 50%;
				left: -4px;
				top: -4px;
			}
			button {
				font-size: 0;
				width: 8px;
				height: 8px;
				border: none;
				border-radius: 50%;
				cursor: pointer;
				// transition: width .5s, height .5s;
				background-color: rgba(53, 53, 53, 0.5);
				position: relative;
				outline: none;
				&:before {
					content: '';
					left: -4px;
					top: -4px;
					border-radius: 50%;
					position: absolute;
					width: 25px;
					height: 25px;
					border: 1px solid transparent;
					// transition-delay: .5s;
				}
			}
		}
		li.slick-active {
			button {
				width: 17px;
				height: 17px;
				background-color: #f2914e;
				&:before {
					border: 1px solid #f2914e;
					// transition-delay: .5s;
				}
			}
		}
	}
	.slick-arrow {
		position: absolute;
		height: 100%;
		width: 130px;
		font-size: 0;
		background-color: rgba(#fff, .5);
		border: none;
		top: 0;
		outline: none;
		cursor: pointer;
		z-index: 2;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}
}

.inst_cont {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	img {
		width: 126px;
		height: 126px;
		margin-bottom: 10px;
	}
}
.inst_fl {
	text-align: right;
	display: block;
	text-decoration: none;
	color: #353535;
	font-family: $gl;
	font-size: 17px;
	font-weight: bold;
	padding: 28px 0 38px;
	i {
		margin-right: 24px;
		font-size: 24px;
		font-weight: bold;
	}
}
.questions {
	padding-top: 40px;
	padding-bottom: 70px;
}
.questions_cont {
	height: 158px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(-80deg, #fad961 0%, #f76b1c 100%);
	padding: 0 80px;
	h3 {
		color: #353535;
		font-family: $gl;
		font-weight: bold;
		font-size: 30px;
		line-height: 62px;
	}
}
.cont_us {
	color: #353535;
	font-family: $gl;
	font-weight: bold;
	font-size: 17px;
	line-height: 50px;
	height: 50px;
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
	border-radius: 3px;
	background-color: #ffffff;
	display: inline-block;
	text-decoration: none;
	padding: 0 32px;
}


footer {
	background-color: #3f454c;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		background: url(../img/owl1.png) no-repeat;
		width: 315px;
		height: 218px;
		left: 0;
		bottom: 0;
		opacity: 0.3;
	}
	&:after {
		content: '';
		position: absolute;
		background: url(../img/owl2.png) no-repeat;
		width: 240px;
		height: 503px;
		right: 0;
		bottom: 70px;
		opacity: 0.3;
	}
}
.f_top {
	padding-top: 68px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 64px;
}
.f_info {
	width: 358px;
	p {
		margin-top: 20px;
		opacity: 0.5;
		color: #ffffff;
		font-family: $mm;
		font-size: 12px;
		line-height: 24px;
	}
}
.f_nav_cont {
	display: flex;
	flex-flow: row wrap;
}
.f_nav {
	margin-left: 45px;
	h5 {
		opacity: 0.5;
		color: #ffffff;
		font-family: $gl;
		font-weight: bold;
		font-size: 17px;
		margin-bottom: 24px;
	}
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 24px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a {
		color: #ffffff;
		font-family: $mm;
		font-size: 13px;
		line-height: 13px;
		text-decoration: none;
		transition: all .5s;
		&:hover {
			opacity: .7;
		}
	}
}
.doub_list ul{
	column-count: 2;
}

hr {
	height: 1px;
	background-color: #979797;
	border: none;
	opacity: 0.2;
}
.f_bot {
	display: flex;
	padding: 18px;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
.copy {
	opacity: 0.5;
	color: #ffffff;
	font-family: $mm;
	font-size: 12px;
	line-height: 1;
}
.social {
	a {
		display: inline-block;
		color: #fff;
		margin: 0 20px;
		transition: all .5s;
		&:hover {
			opacity: .7;
		}
	}
}

.history_directory {
	font-family: $mm;
	font-size: 17px;
	padding: 20px 0;
	font-weight: bold;
	a {
		color: #353535;
		text-decoration: none;
	}
	span {
		color: #868686;
	}
}
.contacts {
	overflow: hidden;
}
.l_side {
	float: left;
	width: 50%;
	padding-top: 45px;
}
.r_side {
	float: right;
	width: 50%;
	position: relative;
	img {
		height: auto;
		width: auto;
		position: absolute;
		left: 0;
		top: 0;
	}
}
.slogn {
	color: #000000;
	font-family: $gl;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.city {
	font-family: $gl;
	font-size: 32px;
	color: #b8b8b8;
	font-weight: bold;
	margin-bottom: 10px;
	strong {
		color: #000000;
	}
}
address {
	color: #757575;
	font-family: $mm;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	font-style: normal;
}
.cont_mail {
	font-family: $mm;
	font-size: 14px;
	color: #e55c28;
	display: block;
	text-decoration: none;
	font-weight: bold;
	strong {
		color: #000000;

	}
}
.cont_info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-right: 60px;
}
.cont_adr {
	width: 230px;
	padding-bottom: 50px;
}
.cont_tel {
	width: 230px;
}
.cont_tel {
	p {
		opacity: 0.5;
		color: #000000;
		font-family: $mm;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	a {
		text-decoration: none;
		display: block;
		color: #000000;
		font-family: $mm;
		font-size: 32px;
		font-weight: bold;
	}
}

.cont_form_wrapp {
	position: relative;
	padding-top: 40px;
	&:before {
		content: '';
		position: absolute;
		left: -1000px;
		width: 2000px;
		top: 0;
		height: 1px;
		background-color: #979797;
		opacity: 0.2;
	}
	h2 {
		color: #000000;
		font-family: $gl;
		font-weight: bold;
		font-size: 32px;
		margin-bottom: 42px;
	}
}
.cont_form {
	padding-right: 60px;
	form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	label {
		width: 46%;
		margin-bottom: 4px;
		&:nth-last-child(2) {
			width: 100%;
			margin-top: 60px;
		}
		span {
			opacity: 0.5;
			color: #353535;
			font-family: $mm;
			font-size: 14px;
			font-weight: bold;
		}
	}
	input {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		width: 100%;
		font-weight: bold;
		border: none;
		opacity: 0.8;
		border-bottom: 1px solid #979797;
		height: 38px;
		line-height: 38px;
		outline: none;
	}
	textarea {
		padding-top: 8px;
		width: 100%;
		height: 150px;
		outline: none;
		border: none;
		opacity: 0.8;
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		font-weight: bold;
		line-height: 24px;
		border-bottom: 1px solid #979797;
	}
	input[type=submit] {
		width: 92px;
		height: 50px;
		box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
		border-radius: 3px;
		background-color: #ec7234;
		opacity: 1;
		color: #ffffff;
		font-family: $gl;
		font-size: 17px;
		line-height: 50px;
		cursor: pointer;
		transition: all .5s;
		margin-top: 30px;
		margin-bottom: 40px;
		&:hover {
			background-color: darken(#ec7234, 10%);
		}
	}
}




.faqs {
	justify-content: space-between;
	flex-flow: row wrap;
	display: flex;
}
.faqs .item {
	border-radius: 3px;  
	margin-bottom: 10px;
	width: calc(50% - 18px);
}
.faqs .question {
	min-height: 76px;
	display: flex;
	align-items: center;

	padding: 14px 45px 14px 25px;
	position: relative;
	cursor: pointer;
	background-color: #ffffff;
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);

}
.faqs .item.active .question{
	border-bottom:solid 1px #d1dde4; 
} 
.faqs p {
	font-family: $gl;
	margin: 0;
	color: #353535;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.faqs .icon {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url('../img/plus.svg') center no-repeat;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.faqs .item.active .icon {
	background: url('../img/minus.svg') center no-repeat;
}
.faqs .answer {
	padding: 16px 26px 16px 26px;
	display: none;
	font-weight: 500;
	text-align: left; 
	border-top: none;
	background-color: #fff;
	font-family: $mm;
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
	opacity: 0.7;
	color: #353535;
	font-size: 17px;
	line-height: 34px;
	margin-bottom: 10px;
}

.faq_directory {
	background-color: #fbfbfb;
}
.faq_wrapp {
	background-color: #fbfbfb;
	padding-bottom: 30px;
	h2 {
		position: relative;
		color: #353535;
		font-family: $gl;
		font-size: 48px;
		line-height: 62px;
		font-weight: bold;
		padding-top: 30px;
		padding-bottom: 50px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 38px;
			width: 41px;
			height: 3px;
			border-radius: 100px;
			background-color: #ec7234;
		}
	}
}
.faq_quest {
	background-color: #fbfbfb;
}

// quotes

.quotes_bn {
	height: 560px;
	background-color: #f8aa43;
	position: relative;
	z-index: 3;
	&:before {
		content: '';
		width: 960px;
		height: 400px;
		top :0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -3;
		background-image: url(../img/quote_line.svg);
		background-position: center bottom;
		opacity: 0.2;
	}
}
.quotes_bn_2 {
	width: 100%;
	height: 560px;
	background-image: url(../img/customquotes.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

.quotes_bn_2 {
	text-align: center;
	font-family: $gl;
	color: #000000;

	h2 {
		margin: 0 auto;
		width: 652px;
		line-height: 34px;
		font-size: 40px;
		font-weight: bold;
		padding-top: 95px;
		margin-bottom: 50px;
	}
	p {
		margin: 0 auto;
		width: 600px;
		line-height: 34px;
		font-size: 24px;
		font-weight: bold;
	}
}

.information {
	padding-top: 64px;
	.container {
		> h4 {
			color: #ec7234;
			font-family: $gl;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 4px;
			text-align: center;
		}
		> {
			p {
				opacity: 0.7;
				color: #353535;
				font-family: $mm;
				font-size: 17px;
				line-height: 34px;
				margin-bottom: 36px;
				text-align: center;
			}
		}
	}
}

.radio_cont {
	position: relative;
	padding: 24px;
	padding-bottom: 0;
	display: flex;
	flex-flow: row wrap;
}
.radio {
	margin-left: 0px;
	margin-bottom: 24px;
	
}
.st1_radio {
	.radio {
		width: 33.3%;
	}
}
.st3_radio {
	justify-content: space-between;
	.radio {
		width: auto;
	}
}
label.radio-label {
	// line-height: 28px;
	font-family: $mm;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
	color: #353535;
	transition: all .4s;
}
.radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #979797;
	display: inline-block;
	width: 31px;
	height: 31px;
	position: relative;
	top: -0.2em;
	margin-right: 24px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label {
	color: #ec7234;
}
.radio input[type="radio"]:checked + .radio-label:before {
	background-color: #ec7234;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
	outline: none;
	border-color: #ec7234;
}
.radio input[type="radio"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
	margin-right: 0;
}

fieldset {
	border-radius: 3px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	background-color: #ffffff;
	margin-bottom: 16px;
	.inform_cont ~ p {
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		padding-left: 24px;
		padding-top: 24px;
	}
}
.inform_cont {
	padding: 24px;
	border-bottom: 1px solid rgba(155, 155, 155, 0.5);
	h3 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
		margin-bottom: 14px;
	}
	p {
		opacity: 0.7;
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 24px;
	}
}
.label_cont {
	padding: 24px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	label {
		width: 46%;
	}
	span {
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		display: block;
		margin-bottom: 10px;
		font-weight: bold;
	}
	input {
		width: 100%;
		height: 48px;
		border-radius: 3px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		line-height: 46px;
		// opacity: 0.4;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		padding: 0 24px;
		outline: none;
	}
}


.st4 {
	padding: 24px;
	input[type=file] {
		width: 236px;
		height: 250px;
		border-radius: 3px;
		border: 1px dashed rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		outline: none;
		opacity: 0;
		display: inline-block;
		margin-right: 24px;
		position: relative;
		z-index: 3;
		cursor: pointer;
	}
	label {
		position: relative;
		display: block;
		&:first-child {
			float: left;
		}
		&:nth-child(2) {
			margin-bottom: 14px;
		}
		> span {
			color: #353535;
			font-family: $mm;
			font-size: 14px;
			margin-bottom: 4px;
			display: block;
		}
	}
	textarea {
		width: calc(100% - 260px);
		height: 163px;
		border-radius: 3px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		outline: none;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		padding: 20px 25px;
		resize: vertical;
	}
}
.counter {
	position: absolute;
	right: 20px;
	bottom: 4px;
	opacity: 0.5;
	color: #353535;
	font-family: $mm;
	font-size: 11px;
}
.visible_picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 236px;
	height: 250px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px dashed rgba(155, 155, 155, 0.5);
	img {
		margin: 86px auto 0;
		display: block;
	}
	strong {
		display: block;
		text-align: center;
		color: #ec7234;
		font-family: $mm;
		font-size: 17px;
		margin: 30px 0;
	}
	span {
		width: 116px;
		opacity: 0.7;
		color: #353535;
		font-family: $mm;
		font-size: 11px;
		line-height: 18px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-weight: bold;
	}
}
/* Reset Select */
select {
	outline: 0;
	box-shadow: none;
	border: none;
	background-color: #ffffff;
	
}
/* Custom Select */
.select {
	position: relative;
	display: block;
	width: calc(100% - 260px);
	height: 3em;
	line-height: 3;
	background: #fff;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	i {
		position: absolute;
		right: 22px;
		top: 18px;
		border: solid black;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
		z-index: 3;
	}
	.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	select {
		position: absolute;
		top: 0;
	}
}
select {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 73px 0 25px;
	color: #353535;
	cursor: pointer;
	// font-family: $mm;
	font-size: 13px;
	// font-family: Verdana;
}
select::-ms-expand {
	display: none;
}
/* Arrow */
.select::after {
	content: "";
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 25px;
	height: 50px;
	// background: #fff;
	pointer-events: none;
	border-left: 1px solid rgba(155, 155, 155, 0.5);
}
/* Transition */
// .select:hover::after {
// 	color: #ec7234;
// }
// .select::after {
// 	-webkit-transition: .25s all ease;
// 	-o-transition: .25s all ease;
// 	transition: .25s all ease;
// }
.st5 {
	padding: 24px;
	span {
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		display: block;
		margin-bottom: 4px;
	}
	input {
		width: 356px;
		height: 48px;
		line-height: 46px;
		padding: 0 25px;
		border-radius: 3px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		outline: none;
	}
}
.terms {
	h2 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 8px;
		font-weight: bold;
	}
	p {
		opacity: 0.7;
		font-family: $mm;
		font-size: 17px;
		line-height: 24px;
		color: #353535;
		font-weight: bold;
		span {
			color: #e55c28;
		}
	}
}
.terms_cont {
	margin-top: 16px;
	margin-bottom: 36px;
	border-radius: 3px;
	background-color: rgba(155, 155, 155, 0.2);
	padding: 16px 25px 16px 25px;
	.radio {
		float: left;
		top: 50%;
		margin-bottom: 0;
		margin-top: 20px;
	}
	p {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 34px;
		float: right;
		width: calc(100% - 31px);
		opacity: 1;
		font-weight: normal;
		padding-left: 24px;
	}
	
	.radio input[type="radio"]:checked + .radio-label {
		color: #353535;
	}
}
.info_form {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 90px;
	input[type=submit] {
		width: 259px;
		height: 50px;
		box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
		border-radius: 3px;
		background-color: #ec7234;
		color: #ffffff;
		font-family: $gl;
		font-size: 17px;
		line-height: 50px;
		border: none;
		cursor: pointer;
		transition: all .5s;
		&:hover {
			background-color: darken(#ec7234, 10%);
		}
	}
}



 // 
 .privacy {
 	padding-top: 42px;
 	padding-bottom: 42px;
 	h3 {
 		color: #353535;
 		font-family: $gl;
 		font-size: 24px;
 		line-height: 34px;
 		font-weight: bold;
 	}
 }
 .privacy_cont {
 	display: flex;
 	flex-flow: row wrap;
 	justify-content: space-between;
 	padding: 36px 0;
 }
 .privacy_l {
 	width: 390px;
 	padding-top: 40px;
 	ul {
 		list-style: none;
 		position: relative;
 		padding-right: 40px;
 		&:before {
 			content: '';
 			width: 33px;
 			height: 4px;
 			background-color: #ec7234;
 			position: absolute;
 			top: -25px;
 			left: 0;
 		}
 	}
 	li {
 		margin-bottom: 24px;
 		
 		&:last-child {
 			margin-bottom: 0;
 		}
 	}
 	li.active {
 		a { 			
 			color: #ec7234;
 			opacity: 1;
 			&:before {
 				position: absolute;
 				width: 7px;
 				height: 7px;
 				background-color: #ec7234;
 				border-radius: 50%;
 				right: -20px;
 				top: 6px;
 			}
 		}
 	}
 	a {
 		font-family: $gl;
 		font-weight: bold;
 		font-size: 17px;
 		opacity: 0.5;
 		color: #242d39;
 		text-decoration: none;
 		display: inline-block;
 		position: relative;
 		transition: all .5s;
 		&:before {
 			content: '';
 			transition: all .5s;
 		}
 	}
 }

 .privacy_cont .privacy_item {
 	margin-bottom: 100px;
 	&:last-child{
 		margin-bottom: 0;
 	}
 }
 .privacy_r {
 	width: calc(100% - 390px);
 	h3 {
 		color: #ec7234;
 		margin-bottom: 24px;
 	}
 	p {
 		color: #353535;
 		font-family: $mm;
 		font-size: 17px;
 		line-height: 34px;
 		font-weight: 500;
 		margin-bottom: 30px;
 		&:last-child{
 			margin-bottom: 0;
 		}
 	}
 	ul {
 		list-style: none;
 		margin-bottom: 30px;
 		li {
 			color: #353535;
 			font-family: $mm;
 			font-size: 17px;
 			margin-bottom: 20px;
 			position: relative;
 			padding-left: 36px;
 			&:before {
 				content: '';
 				position: absolute;
 				left: 0;
 				top: 1px;
 				width: 12px;
 				height: 12px;
 				background-color: #ec7234;
 				border-radius: 50%;
 			}
 		}
 	}
 	ol {
 		list-style-position: inside;
 		list-style-type: lower-alpha;
 		margin-bottom: 30px;
 		li {
 			color: #353535;
 			font-family: $mm;
 			font-size: 17px;
 			margin-bottom: 20px;
 			position: relative;
 		}
 	}

 }
 ul.f_elem {
 	position: fixed;
 	top: 100px;
 	width: 390px;
 	padding-right: 40px;
 }
 // ul.f_elem_max {
 // 	position: absolute;
 // }

// about
.about_bn {
	position: relative;
	height: 388px;
	background-color: #fdfeff;
}
.ab_l {
	width: 50%;
	float: left;
	position: relative;
	img {
		position: absolute;
		height: auto;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.ab_r {
	width: 50%;
	float: right;
	height: 388px;
	display: flex;
	h2 {
		color: #353535;
		font-family: $gl;
		font-weight: bold;
		font-size: 60px;
		line-height: 74px;
		margin: auto 0 auto 90px;
	}
}

// phone
.phone_step {
	background-color: #fbfbfb;

}
.phone_form {
	position: relative;
	overflow: hidden;

}
#msform fieldset:not(:nth-child(2)) {
	display: none;
}
#msform > .container {
	position: relative;
}
// fieldset > .container {
// 	padding-bottom: 30px;
// }
.step_wrapp_color {
	background-color: #fff;
}
#progressbar {
	position: absolute;
	list-style: none;
	right: 15px;
	display: flex;
	height: 25px;
	text-align: center;
	color: #9b9b9b;
	font-family: $mm;
	font-weight: bold;
	font-size: 14px;
	top: 40px;
	li {
		margin: 0 12px;
		&:last-child {
			margin-right: 0;
		}
		span {
			margin-top: 2px;
			padding-top: 4px;
			border-top: 2px solid #cdcdcd;
			display: block;
			color: #ec7234;
			font-family: $mm;
			font-size: 0;
			width: 22px;
		}
	}
	li.active {
		color: #ec7234;
		span {
			border-top: 2px solid #ec7234;
			font-size: 12px;
		}
	}
}

.phone_form {
	
	fieldset {
		border: none;
		background-color: #fbfbfb;
		margin-bottom: 0;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		font-family: inherit;
		font-size: 100%;
		outline: none;
		float: right;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}
	input[type=search] {
		background: url(../img/searh.svg) no-repeat 10px center;
		border: solid 1px transparent;
		padding: 0 20px;
		width: 36px;
		height: 36px;
		transition: all .5s;
		font-family: $mm;
		line-height: 34px;
		cursor: pointer;
		color: #000;
	} 
	input[type=search]:hover {
		border: solid 1px #ec7234;
		padding-left: 36px;
		width: 250px;
	}
	input[type=search]:focus {
		border: solid 1px #ec7234;
		width: 250px;
		padding-left: 36px;
	}
}
.step_name {
	position: relative;
	padding: 30px 0;
	padding-left: 54px;
	margin-bottom: 20px;
	width: 650px;

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 3000px;
		height: 1px;
		background-color: #e7e7e7;
		top: 0;
	}
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 3000px;
		height: 1px;
		background-color: #e7e7e7;
		bottom: 0;
	}
	h2 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
		span {
			position: absolute;
			left: 0px;
			// top: 40px;
			top: 50%;
			transform: translateY(-50%);
			color: #353535;
			font-family: $gl;
			font-weight: bold;
			font-size: 52px;
			letter-spacing: -1px;
		}
		// &:before {
		// 	counter-increment: h2;
		// 	content: counter(h2) ".";
		// 	position: absolute;
		// 	left: 0px;
		// 	top: 40px;
		// 	color: #353535;
		// 	font-family: $gl;
		// 	font-weight: bold;
		// 	font-size: 52px;
		// 	letter-spacing: -1px;
		// }
	}
	p {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
	}
}
.step_name + span {
	color: #353535;
	font-family: $mm;
	font-weight: 500;
	font-size: 17px;
	img {
		position: relative;
		top: 4px;
		width: 20px;
		height: 20px;
		left: 9px;
		margin-right: 25px;
	}
}
.margin_none {
	margin: 0;
}

.step1 {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
	.radio {
		position: relative;
		margin-bottom: 10px;
	}
	.radio-step1 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		width: 272px;
		height: 383px;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		cursor: pointer;
		transition: all .5s;
		h4 {
			color: #353535;
			font-family: $gl;
			font-weight: bold;
			font-size: 17px;
			line-height: 34px;
			text-align: center;
			margin: 40px 0;
		}
		img {
			display: block;
			margin: 0 auto;
			width: auto;
			height: auto;
		}
	}
}
.radio input[type=radio]:checked+  .radio-step1 {
	box-shadow: 0 8px 20px rgba(155,169,188,.4);
}
.radio:hover .radio-step1 {
	box-shadow: 0 8px 20px rgba(155,169,188,.4);
}


.step2 {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 24px;
	.radio {
		position: relative;
		margin-bottom: 16px;
		border: 1px solid #dedede;
	}
	.radio-step2 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		width: 171px;
		height: 145px;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		cursor: pointer;
		transition: all .5s;
		h4 {
			border-top: 1px solid #dedede;
			height: 42px;
			line-height: 42px;
			color: #353535;
			font-family: $mm;
			font-size: 15px;
			text-align: center;
		}
		.step2_img {
			height: 102px;
			display: flex;
		}
		img {
			margin: auto;
			width: auto;
			height: auto;
		}
	}
}
.radio input[type=radio]:checked+  .radio-step2 {
	box-shadow: 0 8px 20px rgba(155,169,188,.4);
}
.radio:hover .radio-step2 {
	box-shadow: 0 8px 20px rgba(155,169,188,.4);
}

.step_wrapp {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.step_cont {
	width: calc(100% - 378px);
	padding-bottom: 30px;
}
.step_tov {
	width: 378px;
	padding-left: 24px;
	border-left: 1px solid rgba(#979797, .2);
}
.tov_cont {
	margin-top: 30px;
	width: 100%;
	height: 194px;
	border-radius: 3px;
	background-color: #f9f9f9;
	display: flex;
	img {
		margin: auto;
	}
}
.tov_desc {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-top: 20px;
}
.model_wrapp {
	width: 40%;
	padding-right: 10px;
}
.model_desc {
	width: 60%;
	p {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 27px;
	}
}
.model {
	opacity: 0.5;
	color: #353535;
	font-family: $mm;
	font-size: 15px;
	line-height: 17px;
}
.model_name {
	color: #353535;
	font-family: $gl;
	font-weight: bold;
	font-size: 24px;
	line-height: 34px;
}
.condition {
	padding: 25px 0;
	margin-top: 25px;
	color: #353535;
	font-family: $mm;
	font-size: 17px;
	line-height: 27px;
	border-top: 1px dashed rgba(#979797, .5);
	border-bottom: 1px dashed rgba(#979797, .5);
	padding-right: 10px;
	a {
		color: #7599fd;
		font-family: $mm;
		font-size: 17px;
		line-height: 27px;
		text-decoration: none;
		float: right;
	}
}

.step3 {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 30px;
	.radio {
		position: relative;
		margin-bottom: 0px;
		border: 1px solid rgba(155, 155, 155, 0.5);
	}
	.radio-step3 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		width: 170px;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		flex-flow: row wrap;
		flex-direction: column;
		justify-content: flex-end;
		cursor: pointer;
		transition: all .5s;
		.title_wrapp {
			height: 102px;
			padding-top: 16px;
			border-bottom: 1px solid rgba(155, 155, 155, 0.5);
		}
		h4 {
			color: #353535;
			font-family: $gl;
			font-weight: bold;
			font-size: 17px;
			line-height: 34px;
			text-align: center;
			
		}
		p {
			color: #353535;
			font-family: $mm;
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			font-weight: 500;
			height: 120px;
		}
	}
}
.radio input[type=radio]:checked + .radio-step3 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio:hover .radio-step3 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio input[type="radio"] + .radio-step3:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #979797;
	display: inline-block;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 52px;
	left: 50%;
	transform: translateX(-50%);
	margin-right: 24px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-step3:before {
	background-color: #ec7234;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-step3:before {
	outline: none;
	border-color: #ec7234;
}
.step3_cont {
	padding-right: 30px;
	h3 {
		color: #353535;
		font-family: $gl;
		font-size: 20px;
		font-weight: bold;
		line-height: 34px;
		margin-bottom: 45px;
	}
	ul {
		list-style: none;
		counter-reset: li;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	li {
		position: relative;
		margin-top: 40px;
		width: 30%;
		color: #353535;
		font-family: $mm;
		font-size: 13px;
		line-height: 23px;
		font-weight: 500;
		margin-bottom: 40px;
		&:before {
			counter-increment: li;
			content: "0" counter(li) ".";
			position: absolute; 
			top: -30px;
			left: 0;
			writing-mode: vertical-lr;
			transform: rotate(-180deg);
			opacity: 0.5;
			color: #353535;
			font-family: $gl;
			font-weight: bold;
			font-size: 17px;
			line-height: 34px;
		}
	}
}
.tov_price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 75px 0;
	padding-right: 10px;
}
.price_desc {
	width: 50%;
	font-family: $mm;
	font-size: 17px;
	line-height: 27px;
	color: #353535;
	span {
		color: #e55c28;
	}
}
.price {
	text-align: right;
	width: 50%;
	color: #353535;
	font-family: $gl;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: -1px;
	line-height: 34px;
}




// step4

.step4 {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 30px;
	.radio {
		position: relative;
		margin-bottom: 0px;
		width: 48%;
		border: 1px solid rgba(155, 155, 155, 0.5);
	}
	.radio-step4 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		flex-flow: row wrap;
		flex-direction: column;
		justify-content: flex-end;
		cursor: pointer;
		transition: all .5s;
		.step4_img {
			height: 122px;
			display: flex;
			flex-flow: row wrap;
			border-bottom: 1px solid rgba(155, 155, 155, 0.5);
			img {
				width: auto;
				height: auto;
				margin: auto;
			}
		}
		p {
			color: #353535;
			font-family: $mm;
			font-size: 17px;
			line-height: 25px;
			padding: 16px 10px 16px 80px;
		}
	}
}
.radio input[type=radio]:checked + .radio-step4 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio:hover .radio-step4 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio input[type="radio"] + .radio-step4:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #979797;
	display: inline-block;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 148px;
	left: 25px;
	margin-right: 24px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-step4:before {
	background-color: #ec7234;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-step4:before {
	outline: none;
	border-color: #ec7234;
}

.step4_cont {
	padding-right: 30px;
	h3 {
		color: #353535;
		font-family: $gl;
		font-weight: bold;
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 24px;
	}
	p {
		color: #353535;
		width: 460px;
		font-family: $mm;
		font-weight: 500;
		font-size: 17px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	label {
		margin-bottom: 24px;
		display: block;
		span {
			color: #4a4a4a;
			font-family: $mm;
			font-size: 14px;
			margin-bottom: 10px;
			display: block;
			font-weight: bold;
		}
		input {
			height: 50px;
			width: 100%;
			line-height: 50px;
			outline: none;
			border: 1px solid rgba(#979797, .5);
			opacity: 0.5;
			padding: 0 24px;
			transition: all .5s;
			color: #4a4a4a;
			font-family: $mm;
			font-size: 14px;
			&:focus {
				opacity: 1;
			}
		}
		select {
			height: 50px;
			width: 100%;
			line-height: 50px;
			outline: none;
			opacity: .5;
			border: 1px solid rgba(#979797, .5);
			// padding: 0 24px;
			padding: 0 58px 0 24px;
			// transition: all .5s;
			&:focus {
				opacity: 1;
			}
		}
	}
}
.bouble {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	label {
		width: 48%;
	}
	.omg {
		width: 48%;
	}
	span {
		display: block;
		width: 100%;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		margin-bottom: 4px;
	}
	input {
		width: 100%;
		height: 46px;
		border-radius: 3px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		outline: none;
		color: #353535;
		font-family: $mm;
		line-height: 46px;
		font-size: 14px;
		padding: 0 25px;
	}
	.select_phon {
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			right: 48px;
			z-index: 9;
			background-color: #fff;
			top: 0;
			height: 50px;
			opacity: 0.5;
			border-left: 1px solid rgba(151,151,151,.5);
		}
	}
	i {
		position: absolute;
		right: 22px;
		top: 20px;
		border: solid black;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 3px;
	}
	.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}



// step5
.step5_cont {
	padding-bottom: 30px;
	h3 {
		margin-bottom: 36px;
	}
}

.step5 {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 30px;
	.radio {
		position: relative;
		margin-bottom: 0px;
		width: 48%;
		border: 1px solid rgba(155, 155, 155, 0.5);
	}
	.radio-step5 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all .5s;
		height: 135px;
		padding-left: 80px;
	}
	.step5_img {
		display: flex;
		align-items: center;
		img {
			width: auto;
			height: auto;
		}
		span {
			margin-left: 20px;
			color: #353535;
			font-family: $gl;
			font-weight: bold;
			font-size: 17px;
			line-height: 22px;
		}
	}
}
.radio input[type=radio]:checked + .radio-step5 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio:hover .radio-step5 {
	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
}
.radio input[type="radio"] + .radio-step5:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #979797;
	display: inline-block;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
	margin-right: 24px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-step5:before {
	background-color: #ec7234;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-step5:before {
	outline: none;
	border-color: #ec7234;
}
// btn
.previous {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 280px;
	width: 122px;
	height: 50px;
	line-height: 50px;
	border-radius: 100px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	background-color: #ffffff;
	color: #353535;
	font-family: $mm;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	opacity: .7;
	outline: none;
	transition: all .5s;
	&:hover {
		opacity: 1;
	}
}
.next, .subb {
	height: 50px;
	display: block;
	float: right;
	margin-right: 30px;
	// margin: 0 auto;
	// margin-bottom: 30px;
	box-shadow: 0 4px 4px rgba(159, 163, 167, 0.2);
	border-radius: 3px;
	background-color: #ec7234;
	border: 2px solid transparent;
	cursor: pointer;
	color: #ffffff;
	font-family: $gl;
	font-weight: bold;
	font-size: 17px;
	line-height: 50px;
	padding: 0 24px;
	transition: all .5s;
	outline: none;
	&:hover {
		color: #ec7234;
		background-color: #fff;
		border-color: #ec7234;
	}
}
fieldset > .container {
	position: relative;
	> input {
		margin: 0 auto 30px auto;
		float: none;
	}
}

// thn 
.thn_text {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 22px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #fbfbfb;
	h2 {
		color: #353535;
		font-family: $gl;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	p {
		width: 580px;
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 22px;
		margin: 0 auto;
		font-weight: 500;
	}
}
.happens {
	padding-top: 34px;
	padding-bottom: 38px;
	h3 {
		text-align: center;
		color: #ec7234;
		font-family: $gl;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 62px;

	}
}
.happens_cont {
	flex-flow: row wrap;
	display: flex;
	justify-content: space-between;

}
.happens_item {
	width: 30%;
	span {
		opacity: 0.2;
		color: #353535;
		font-family: $gl;
		font-weight: bold;
		font-size: 52px;
		letter-spacing: -1px;
		display: inline-block;
		margin-right: 4px;
	}
	h2 {
		color: #353535;
		font-family: $gl;
		font-weight: bold;
		font-size: 24px;
		margin-top: 8px;
		margin-bottom: 20px;
	}
	p {
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 24px;
	}
	a {
		display: block;
		text-decoration: none;
		color: #f08645;
		font-family: $mm;
		font-size: 14px;
		line-height: 24px;
		margin-top: 20px;
	}
	ul {
		list-style: none;
	}
	li {
		position: relative;
		padding-left: 36px;
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		line-height: 34px;
		font-weight: 500;
		&:before {
			content: '';
			width: 9px;
			height: 9px;
			position: absolute;
			background-color: #ec7234;
			border-radius: 50%;
			left: 0;
			top: 12px;
		}
	}
}
.hap_inf_cont {
	border-radius: 3px;
	background-image: linear-gradient(99deg, #f7ab64 0%, #ec7234 100%);
	position: relative;
	padding: 25px 25px 25px 100px;
	margin-bottom: 20px;
	&:before {
		content: '';
		position: absolute;
		background-image: url(../img/hep_inf.svg);
		top: 50%;
		transform: translateY(-50%);
		left: 36px;
		z-index: 2;
		width: 40px;
		height: 35px;
	}
	h2 {
		color: #ffffff;
		font-family: $gl;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 4px;
	}
	p {
		color: #ffffff;
		font-family: $mm;
		font-size: 14px;
	}
}
.big_marg {
	.happens_item {
		margin-bottom: 44px;
	}
}



// mnu
.toggle-mnu {
	display: none;
}
.toggle-mnu{
	position: absolute;
	z-index: 999;
	top: 18px;
	left: 8px;
	width: 26px;
	height: 20px;
	span:after, span:before {
		content: "";
		position: absolute;
		left: 0;
		top: 9px;
	}
	span:after{
		top: 18px;
	}

	span{
		position: relative;
		display: block;
	}
	span, span:after, span:before {
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}
	&.on span {
		background-color: transparent;
	}
	&.on span:before {
		transform: rotate(45deg) translate(-1px, 0px);
	}
	&.on span:after {
		transform: rotate(-45deg) translate(6px, -7px);
	}
}


.check_cont {
	padding-top: 40px;
	position: relative;
	padding-bottom: 14px;
	&:before {
		content: '';
		width: 3000px;
		height: 1px;
		position: absolute;
		top: 10px;
		right: 0;
		border-top: 1px solid rgba(151,151,151,.2);
	}
}
.tasks-list-item {
	display: block;
	line-height: 24px;
	width: calc(100% - 270px);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
	position: relative;
}
.tasks-list-cb {
	display: none;
}
.tasks-list-mark {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
	width: 29px;
	height: 29px;
	border: 2px solid #ec7234;
	border-radius: 50%;
	background-color: #ec7234;
}

.tasks-list-mark:before {
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	left: 4px;
	margin: 0;
	height: 9px;
	width: 16px;
	border: solid #fff;
	border-width: 0 0 3px 3px;
	transform: rotate(-45deg);
	opacity: 0.4;
}
.tasks-list-cb:checked ~ .tasks-list-mark:before {
	opacity: 1;
}
.tasks-list-desc {
	color: #353535;
	font-family: $mm;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	position: absolute;
	width: 100%;
	width: 90%;
	left: 50px;
}

// step6

.step6_radio {
	position: relative;
	// display: flex;
	// flex-flow: row wrap;
	// justify-content: space-between;
	padding-top: 50px;
	// padding-bottom: 50px;
	padding-right: 30px;
	> p {
		opacity: 0.5;
		color: #353535;
		font-family: $mm;
		font-size: 17px;
		margin-bottom: 10px;
	}
	>p + strong {
		opacity: 1;
		color: #353535;
		font-family: $mm;
		display: block;
		margin-bottom: 40px;
	}
	.radio {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		position: relative;
		margin-bottom: 50px;
		width: 100%;
	}
	.radio-step6 {
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 3px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row wrap;
		cursor: pointer;
		transition: all .5s;
		width: 100%;
	}
	.step6_img {
		width: 92px;
		position: relative;
		img {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			width: auto;
			height: auto;
		}
	}
	.step6_text {
		width: 560px;
		h2 {
			color: #ec7234;
			font-family: $gl;
			font-weight: bold;
			font-size: 17px;
			margin-bottom: 4px;
		}
		p {
			color: #353535;
			font-family: $mm;
			font-size: 14px;
			line-height: 22px;
		}
	}
}
// .radio input[type=radio]:checked + .radio-step6 {
// 	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
// }
// .radio:hover .radio-step6 {
// 	box-shadow: 0 12px 40px rgba(159, 163, 167, 0.5);
// }
.radio input[type="radio"] + .radio-step6:before {
	content: '';
	background: #fff;
	border-radius: 100%;
	border: 1px solid #979797;
	display: inline-block;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100px;
	margin-right: 24px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-step6:before {
	background-color: #ec7234;
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #ec7234;
}
.radio input[type="radio"]:focus + .radio-step6:before {
	outline: none;
	border-color: #ec7234;
}


.step6_form {
	margin-right: 30px;
	padding-top: 50px;
	padding-bottom: 20px;
	border-top: 1px dashed rgba(151,151,151,.2);
	border-bottom: 1px dashed rgba(151,151,151,.2);
	label {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom: 24px;
	}
	.st_form_text {
		width: 230px;
	}
	h2 {
		color: #ec7234;
		font-family: $gl;
		font-weight: bold;
		font-size: 17px;
		margin-bottom: 10px;
	}
	p {
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		line-height: 22px;
	}
	input {
		width: 400px;
		height: 48px;
		border-radius: 3px;
		line-height: 48px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #ffffff;
		opacity: 0.4;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		padding: 0 24px;
		&:focus {
			opacity: 1;
			outline: none;
		}
	}
	textarea {
		width: 400px;
		height: 130px;
		border-radius: 3px;
		border: 1px solid rgba(155, 155, 155, 0.5);
		background-color: #fbfbfb;
		color: #353535;
		font-family: $mm;
		font-size: 14px;
		padding: 16px 24px;
		outline: none;
	}
}

.team_serv {
	margin-right: 30px;
	margin-bottom: 26px;
	h2 {
		margin-top: 24px;
		color: #ec7234;
		font-family: $gl;
		font-weight: bold;
		font-size: 17px;
		margin-bottom: 20px;
	}
}
.team_serv_cont {
	border-radius: 3px;
	border: 1px solid rgba(155, 155, 155, 0.5);
	background-color: #fbfbfb;
	padding: 24px;
	.tasks-list-item {
		float: none;
		width: 100%;
	}
	a {
		color: #e55c28;
		text-decoration: none;
	}
	.tasks-list-desc {
		position: static;
		display: inline-block;
		width: calc(100% - 60px);
	}
}

.subb {
	float: none;
}

@import "_media.scss";